<!DOCTYPE html>
<html>
<head>
  <title>Crewlink</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <%- include('partials/_navbar') %>
  <main>
    <%- yield %>
  </main>
  <footer>
    <p>&copy; 2024 Crewlink</p>
  </footer>
</body>
</html>




